/* *** Home Layout *** */
.homeContainer {
  margin-top: 4em;
  padding: 2em;
}

@media (min-width: 768px) {
  .homeContainer {
    margin-left: 33.33333%;
  }
}

@media (min-width: 992px) {
  .homeContainer {
    margin-left: 16.66667%;
  }
}
